<div class="container pt-5">
  {{!--  Welcoming Section --}}
  <h1 class="my-5 title-style">Olá, {{obj.user.name}}</h1>
  <h3 class="my-3 sub-title-style">Próximos eventos:</h3>

  {{!-- Next Events --}}
  <div class="row my-5">
    {{#if obj.noEvents}}
      <div class="col-12 p-5">
        <h3 class="text-muted text-center">{{obj.noEvents}}</h3>
      </div>
    {{/if}}
    {{#each obj.events}}
      <div class="col-md-4 p-1">
        <div class="card event-card" style="width: 100%;">
          <div class="card-body">
            <div class="row">
              <div class="col-3 d-flex justify-content-center align-items-center icon-div"></div>
              <div class="col-9">
                <h5 class="card-title sub-title-style">{{title}}</h5>
                <h6 class="card-subtitle my-2 text-muted type-h6">Tipo: {{type}}</h6>
                <h6 class="card-subtitle my-2 text-muted date-field">Data: {{date}}</h6>
                <h6 class="card-subtitle my-2 text-muted">Pet: {{owner.name}}</h6>
                {{!-- <a href="#" class="btn btn-main mt-1">Ver mais</a> --}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <hr>

  {{!-- Pets --}}
  <div class="container">
    <div class="row justify-content-between align-itemns-center">
      <h3 class="my-3 sub-title-style">Meus Pets:</h3>
      <div class="d-flex justify-content-center- align-items-center">
        <button class="btn btn-main" data-toggle="modal" data-target="#modalAdicionarPet">Adicionar Pet</button>
      </div>
    </div>
  </div>
  <div class="row my-5">
    {{#if obj.noPets}}
      <div class="col-12 p-5">
        <h3 class="text-muted text-center">{{obj.noPets}}</h3>
      </div>
    {{/if}}
    {{#each obj.pets}}
      <div class="col-sm-6 col-lg-3 p-1">
        <div class="card img-crop" style="width: 100%;">
          <img src="{{path}}" class="card-img-top" alt="{{originalName}}">
          <div class="card-body">
            <h5 class="card-title text-center sub-title-style">{{name}}</h5>
            <h6 class="card-subtitle my-2 text-center text-muted">Tipo: {{species}}</h6>
            <a href="/pet/{{_id}}" class="btn btn-block btn-main mt-1">Ver detalhes</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  {{!-- Modal Add Pet --}}
  <div class="modal fade" id="modalAdicionarPet" tabindex="-1" role="dialog" aria-labelledby="modalAdicionarPetTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAdicionarPetTitle">Adicionar Pet</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/pet/add" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">Nome</label>
              <input type="text" placeholder="Seu Pet" name="name" class="form-control" aria-describedby="name"
                required>
            </div>
            <div class="form-group">
              <label for="species">Tipo</label>
              <select class="custom-select" name="species" required>
                <option value="" selected disabled>Escolher</option>
                <option value="Cachorro">Cachorro</option>
                <option value="Gato">Gato</option>
                <option value="Ave">Ave</option>
                <option value="Coelho">Coelho</option>
                <option value="Tartaruga">Tartaruga</option>
                <option value="Outro">Outro</option>
              </select>
            </div>
            <div class="form-group">
              <label for="birthdate">Data de Nascimento</label>
              <input type="date" name="birthdate" class="form-control" id="birthdateAdd" aria-describedby="birthdate" required>
            </div>
            <div class="form-group">
              <label for="photo">Foto</label>
              <div class="custom-file">
                <input type="file" name="photo" class="custom-file-input" id="photo-input">
                <label class="custom-file-label" for="photo" id="photo-label" data-browse="Procurar">Insira uma
                  foto</label>
              </div>
            </div>
            <button type="submit" class="btn btn-main btn-block">Adicionar Pet</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>